@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

/* ---------------------- @layer base ---------------------- */
@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-sans text-primary-text bg-bg-body font-extralight;

    &.dark {
      @apply scheme-dark;
    }
  }

  :focus-visible {
    outline: 2px solid var(--links);
    outline-offset: 2px;
    border-radius: 2px;
  }

  h1 {
    @apply text-5xl text-right mb-4 font-display;
  }

  p {
    @apply text-base tracking-widest;
  }
}

/* ------------------- @layer components ------------------- */
@layer components {
  .sidebar .nav a {
    text-transform: lowercase;
    transition:
      transform 0.15s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      font-size 0.15s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      padding-left 0.18s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      padding-right 0.18s cubic-bezier(0.62, 0.16, 0.13, 0.8);
  }

  .sidebar .icons .icon-item {
    transition:
      transform 0.15s cubic-bezier(0.62, 0.16, 0.13, 1.01),
      font-size 0.15s cubic-bezier(0.62, 0.16, 0.13, 1.01);
  }

  @media (min-width: 640px) {
    .sidebar .nav a:hover {
      transform: scale(1.1);
      font-size: 1.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .sidebar .icons a:hover {
      transform: scale(1.1);
      font-size: 1.2rem;
    }

    .spotlight-effect {
       opacity: var(--opacity, 0);
      background: radial-gradient(35rem 35rem at var(--x) var(--y), var(--spotlight) 0%, transparent 90%);
    }
  }

}

/* ---------------------- Fonts + Theme ---------------------- */
@font-face {
  font-family: "Syne";
  src: url("/zoltan-on-software/fonts/Syne/Syne-VariableFont.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/zoltan-on-software/fonts/Montserrat/Montserrat-VariableFont.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Montserrat", system-ui, -apple-system, sans-serif;
  --font-display: "Syne", "Helvetica Neue", Arial, sans-serif;
  --color-bg-body: var(--bg-body);
  --color-bg-component: var(--bg-component);
  --color-bg-button: var(--bg-button);
  --color-primary-text: var(--primary-text);
  --color-hover-text: var(--hover-text);
  --color-spotlight: var(--spotlight);
  --color-accent: var(--accent);
  --color-links: var(--links);
  --color-code-bg: var(--code-bg);
}


:root {
  --bg-body: oklch(0.9735 0.0148 221.29);
  --bg-component:oklch(0.56 0.06 250 / 0.07);
  --bg-button: oklch(0.75 0.05 260 / 0.08);
  --primary-text: oklch(0.18 0.0617 247.76);
  --hover-text: oklch(0.6 0.1 260);
  --spotlight: oklch(0.4 0.1 260);

  --links: oklch(0.74 0.12 260);
  --accent: oklch(0.78 0.10 99.53);
  --code-bg: oklch(0.996 0.03 99.5);
}
.dark {
  --bg-body: oklch(0.18 0.0617 247.76);
  --bg-component: oklch(0.56 0.06 250 / 0.07);
  --bg-button: oklch(0.75 0.05 260 / 0.18);
  --primary-text: oklch(0.996 0.03 99.5);
  --hover-text: oklch(0.9735 0.0148 221.29);
  --spotlight: oklch(0.4 0.4 260 / 0.12);

  --links: oklch(0.94 .12 260);
  --accent: oklch(0.996 0.09 99.5);
  --code-bg: oklch(0.22 0.02 260);
}
