@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "tailwind.config.js";

@theme {
  --font-sans:
    "Montserrat", system-ui, -apple-system, sans-serif; /* Body Text, General */
  --font-sans-alt:
    "Segoe UI", "Helvetica Neue", "Liberation Sans", "Nimbus Sans", "Arial",
    sans-serif; /* Alternative Body Text */
  --font-display:
    "Syne", "Helvetica Neue", "Arial", sans-serif; /* Headings, Titles */
  --font-mono:
    "Courier New", "SFMono-Regular", monospace; /* Code, Monospace Text */

  --color-background: var(--background);
  --color-highlight: var(--highlight);
  --color-primary-text: var(--primary-text);
  --color-hover-text: var(--hover-text);
  --color-accent: var(--accent);
  --color-links: var(--links);
}

@font-face {
  font-family: "Syne";
  src: url("/zoltan-on-software/fonts/Syne/Syne-VariableFont.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/zoltan-on-software/fonts/Montserrat/Montserrat-VariableFont.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.18 0.0617 247.76);
  --highlight: oklch(0.56 0.09 247.76);

  --primary-text: oklch(0.996 0.0300 99.5);
  --hover-text: oklch(0.9735 0.0148 221.29);
  --links: oklch(0.66 0.5776 258.35);
  --accent: oklch(0.78 0.1776 99.53);
}

@layer base {
  :focus-visible {
    outline: 2px solid #3b82f6;
    outline-offset: 2px;
    border-radius: 2px;
  }

  body {
    font-family: var(--font-sans-alt);
    font-weight: 300;
    font-synthesis: none;
    background-color: var(--background);
    color: var(--color-primary-text);
  }

  h1 {
    @apply text-5xl;
  }
  p {
    @apply text-base;
  }

  @media (min-width: 640px) {
    h1 {
      @apply font-normal;
    }
    p {
      @apply font-normal;
    }
  }

  .sidebar .nav a {
    text-transform: lowercase;
    transition:
      transform 0.15s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      font-size 0.15s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      padding-left 0.18s cubic-bezier(0.62, 0.16, 0.13, 0.8),
      padding-right 0.18s cubic-bezier(0.62, 0.16, 0.13, 0.8);
  }

  .sidebar .icons .icon-item {
    transition:
      transform 0.15s cubic-bezier(0.62, 0.16, 0.13, 1.01),
      font-size 0.15s cubic-bezier(0.62, 0.16, 0.13, 1.01);
  }

  @media (min-width: 640px) {
    .sidebar .nav a:hover {
      transform: scale(1.1);
      font-size: 1.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .sidebar .icons a:hover {
      transform: scale(1.1);
      font-size: 1.2rem;
    }
  }
}
