---
import Layout from "@/layouts/Baselayout.astro";
---

<Layout title="About">
  <h1 class="text-right mb-4">About</h1>
  <p class="text-right">
    I am a software engineer with over eight years of experience and a proven
    ability to quickly adapt to various technology stacks. I have played a key
    role on two product teams at idealo for the past five years. Although I have
    the most experience in back-end and infrastructure development, I've been
    exposed to front-end development in the past two years. A vital aspect of my
    work is helping the business thrive. Before diving into the code, I always
    aim to understand the product and the customer. I lead and work by applying
    principles of extreme ownership. If you want to find more about me, feel
    free to check out my profiles below.
  </p>
</Layout>
