---
import Layout from "@/layouts/Baselayout.astro";
---

<Layout title="Blog">
  <h1 class="text-right">Blog</h1>
  <div>
    <p class="text-right">This is where my blog posts will go.</p>
    <ul class="text-right">
      <li><a href={`${import.meta.env.BASE_URL}/posts/post-1`}>Post 1</a></li>
      <li><a href={`${import.meta.env.BASE_URL}/posts/post-2`}>Post 2</a></li>
      <li><a href={`${import.meta.env.BASE_URL}/posts/post-3`}>Post 3</a></li>
    </ul>
  </div>
</Layout>
