---
import Layout from "@/layouts/Baselayout.astro";
---

<Layout title="Main page">
  <h1 class="text-right">HI!</h1>
  <p class="text-right">
    It's Zoltan; welcome to my personal website. I work as an engineer with
    almost a decade of experience writing software. I created this website to
    share more about what I stand for as a professional. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Nobis adipisci incidunt nostrum commodi,
    accusantium eligendi, ratione modi odit cupiditate laboriosam iste
    perspiciatis tempora consectetur explicabo excepturi eos quod eius iure?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam culpa quo
    assumenda, voluptatibus, libero obcaecati voluptate ducimus nesciunt,
    accusantium autem porro? Corporis repellat atque quae architecto possimus.
    Nisi natus ipsa et, tempore quos minima eos sit blanditiis eius aut ratione?
  </p>
</Layout>
