---

import Main from "../layouts/layout.astro";
import Layout from "../layouts/layout.astro";---

<Layout title="Main page">
	<h1>Zoltan on Software</h1>
	<p>It's Zoltan; welcome to my personal website. I work as an engineer with almost a decade of experience writing software. I created this website to share more about what I stand for as a professional. </p>
</Layout>
