---

import Main from "../layouts/layout.astro";
import Layout from "../layouts/layout.astro";---

<Layout title="Main page">
	<h1>Zoltan on Software</h1>
	<p>Hello, this is my first paragraph!</p>
</Layout>
