---
import { Icon } from "astro-icon/components";
---

<a href="#top" class="text-primary-text rounded-full transition items-end">
    <Icon name="chevron-up" class="text-2xl" />
    <span class="sr-only">Back to Top</span>
</a>
