---
import { Icon } from "astro-icon/components";

const { prevUrl, nextUrl } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<nav
  aria-label="Pagination"
  class="flex justify-center items-center gap-4 text-lg"
>
  {
    prevUrl && (
      <a href={`${prevUrl}`} class="text-left block">
        <Icon name="chevron-left" class:list="inline-block mr-2" />
      </a>
    )
  }

  {
    nextUrl && (
      <a href={`${nextUrl}`} class="text-right block">
        <Icon name="chevron-right" class:list="inline-block mr-2" />
      </a>
    )
  }
</nav>
