---

---

<div class="sidebar flex flex-col gap-y-1 grow">
  <a href={`${import.meta.env.BASE_URL}`}>Home</a>
  <a href={`${import.meta.env.BASE_URL}/blog`}>Blog</a>
  <a href={`${import.meta.env.BASE_URL}/projects`}>Projects</a>
  <a href={`${import.meta.env.BASE_URL}/about`}>About</a>
</div>
